@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1 class="text-center">Welcome to WatchMe</h1>
    <p class="text-center">Social network for movie fans.</p>
</div>

<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Latest</h3>
    </div>
    <div class="panel-body text-center">
                @Html.Action("LatestMovies")
    </div>
</div>