<h2>Results for: @ViewBag.Query</h2>
<div id="search-container">
    <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active"><a href="#movies" aria-controls="movies" role="tab" data-toggle="tab">Movies</a></li>
        <li role="presentation"><a href="#actors" aria-controls="actors" role="tab" data-toggle="tab">Actors</a></li>
    </ul>

    <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="movies">
            @Html.Action("Movies", "Search", new { query = ViewBag.Query })
        </div>
        <div role="tabpanel" class="tab-pane" id="actors">
            @Html.Action("Actors", "Search", new { query = ViewBag.Query })
        </div>
    </div>

</div>