<div id="search-container">
    <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active"><a href="/Search" aria-controls="movies" role="tab" data-toggle="tab">Movies</a></li>
        <li role="presentation"><a href="/Search" aria-controls="actors" role="tab" data-toggle="tab">Actors</a></li>
    </ul>

    <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="movies">Movies</div>
        <div role="tabpanel" class="tab-pane" id="actors">Actors</div>
    </div>

</div>