body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    position: relative;
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists
   will truncate terms that are too long to fit in the left column
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.category-label {
    font-size: 27px;
    margin-bottom: 15px;
}

    .category-label .label:hover {
        background-color: #ddd;
        color: #444;
    }

    .category-label a:hover {
        text-decoration: none;
    }

.rate {
    margin-top: 7px;
    display: block;
    float: left;
    height: auto;
}

.sidebar {
    position: static;
    top: 51px;
    bottom: 0;
    right: 0;
    display: block;
    padding: 20px;
    background-color: #f5f5f5;
    border-right: 1px solid #eee;
}

.nav-sidebar > .active > a, .nav-sidebar > .active > a:hover, .nav-sidebar > .active > a:focus {
    color: #fff;
    background-color: #428bca;
}

@media(max-width: 1040px) {
    .sidebar {
        display: none;
    }
}

.rate:not(:checked) > input {
    position: absolute;
    top: -9999px;
}

.rate:not(:checked) > label {
    float: right;
    width: 1em;
    overflow: hidden;
    white-space: nowrap;
    cursor: pointer;
    font-size: 30px;
    color: #ccc;
}

    .rate:not(:checked) > label:before {
        content: '★ ';
    }

    .rate:not(:checked) > label:hover, .rate:not(:checked) > label:hover ~ label {
        color: #deb217;
    }

.more-details {
    position: absolute;
    top: 100%;
}

.movie-wrapper {
    padding: 20px;
}

.title-info p:nth-child(2) {
    text-align: center;
}

#cast {
    margin-top: 80px;
}

.actor .name {
    margin-left: 20px;
}

.stylish-input-group .input-group-addon{
    background: white !important;
}
.stylish-input-group .form-control{
	border-right:0;
	box-shadow:0 0 0;
	border-color:#ccc;
}
.stylish-input-group button{
    border:0;
    background:transparent;
}

#search-container {
    margin-top: 25px;
}

.grid-wrapper {
    margin-top: 20px;
}