@model IEnumerable<WatchMe.Web.Areas.Administration.ViewModels.Reviews.ReviewViewModel>

<h2>Flagged reviews</h2>
<div id="reviews-admin">
    @Html.Partial("Partials/_ReviewsPartial", Model)
</div>