@model WatchMe.Web.Areas.Administration.ViewModels.Categories.CategoryViewModel
<p>
    <strong>Name</strong>
    @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
</p>
<p>
    <strong>Category Identifier</strong>
    @Html.TextBoxFor(m => m.CategoryIdentifier, new { @class = "form-control" })
</p>