@model WatchMe.Web.Areas.Administration.ViewModels.Actors.ActorViewModel

<p>
    <strong>First Name</strong>
    @Html.EditorFor(m => m.FirstName)
</p>
<p>
    <strong>Last Name</strong>
    @Html.EditorFor(m => m.LastName)
</p>

