@model WatchMe.Web.Areas.Administration.ViewModels.Categories.CategoryViewModel
<p>
    <strong>Name</strong>
    @Html.EditorFor(m => m.Name)
</p>
<p>
    <strong>Category Identifier</strong>
    @Html.EditorFor(m => m.CategoryIdentifier)
</p>